.box {
    background-color: #000;
    width: 150px;
    height: 0;
    margin: 25px;
    animation-name: growing;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes growing {
    from {
        height: 0;
    }

    to {
        height: 150px;
    }
}